<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pattern</key>
		<string>^3[47]</string>
		<key>companyName</key>
		<string>American Express</string>
		<key>shortName</key>
		<string>amex</string>
		<key>numberGrouping</key>
		<string>4,6,5</string>
		<key>length</key>
		<string>15</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^4</string>
		<key>companyName</key>
		<string>Visa</string>
		<key>shortName</key>
		<string>visa</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>13,14,15,16</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^5[1-5]</string>
		<key>companyName</key>
		<string>MasterCard</string>
		<key>shortName</key>
		<string>mastercard</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^(6011|65|64[4-9]|622)</string>
		<key>companyName</key>
		<string>Discover</string>
		<key>shortName</key>
		<string>discover</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>\d</string>
		<key>companyName</key>
		<string>invalid</string>
		<key>shortName</key>
		<string>invalid</string>
		<key>numberGrouping</key>
		<string>4,4,4,4,4</string>
		<key>length</key>
		<string>20</string>
		<key>invalid</key>
		<true/>
	</dict>
</array>
</plist>
